@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

body {
    background-color: #50577A;
}

#header {
    font-size: 20px;
    color: black;
    padding: 10px 0px 10px 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#topDiv {
    background-color: #bcc1c4;
    height: 200px;
    width: 97%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 10px;
}

#userIcon {
    padding: 20px;
    width: 8%;
    float: left;
}

#userContent {
    float: left;
    padding-left: 20px;
}

.widgetContainer {
    padding-top: 20px;
    padding-left: 10px;
    width: 99%;
    height:300px;
}

#div1, #div2 {
    background-color: #bcc1c4;
    float:left;
    width:24%;
    height:300px;
    border:solid black;
    border-radius: 10px;
}

#centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.gaugeContainer {
    padding: 20px;
    width:98%;
    height:300px;
}

#temp-humDiv, #div1{
    margin-right: 10px;
}

#lightDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#image-display {
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

#temp-gaugeDiv, #hum-gaugeDiv {
    float: left;
    width: 300px;
}

#fanDiv {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1450px) {
    #temp-humDiv {
        background-color: #bcc1c4;
        float:left;
        width:48%;
        height:600px;
        border:solid black;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1450px) {
    #temp-humDiv {
        background-color: #bcc1c4;
        float:left;
        width:48%;
        height:300px;
        border:solid black;
        border-radius: 10px;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-image {
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}
